services:
  sql-sensi:
    image: ghcr.io/advik-b/sql-sensi:latest
    container_name: sql-sensi
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - TELEGRAM_TOKEN=${TELEGRAM_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    restart: unless-stopped